.comment-section {
  margin-top: 4rem;
  padding: 5rem 0rem;
  width: 100%;
  box-sizing: border-box;
  height: 100dvh;

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 4px 4px 20px #fff;
    letter-spacing: 1.3rem;
    text-transform: capitalize;
  }
}

.comment-form {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;

  input {
    width: 100%;
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: #fff;
    transition: all 0.5s ease-in-out;

    &::placeholder {
      color: #ffffff67;
    }

    &:hover {
      border: 3px solid rgb(209, 209, 212);
    }
  }

  button {
    backdrop-filter: blur(5px);

    background-color: rgba($color: #ffffff, $alpha: 0.1);
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-family: 'quicksand', sans-serif;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      border: 1px solid rgb(209, 209, 212);
    }
  }
}

.comment-container {
  background-color: rgba($color: #fff, $alpha: 0.05);
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ffffff0c;
  border-radius: 4px;
  max-height: 60vh;
  overflow-y: auto;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment-container::-webkit-scrollbar {
  display: none;
}

.comment-card {
  background-color: rgba($color: #e6ebeb6d, $alpha: 0.1);
  backdrop-filter: blur(5px);
  padding: 0.2rem 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(#e8e6e6, 0.3);
  transition: all 0.6s ease-in-out;

  &:hover {
    transform: translateY(10px);
  }

  .img-card {
    padding: 0.5rem;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 20px #ffffff65;
  }

  img {
    width: 2.3rem;
    height: 2.3rem;
  }
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  .icon {
    width: 18px;
    height: 18px;
    color: #d6bb8a;
    transition: all 0.4s;
  }

  &:hover {
    .icon {
      color: #456383;
    }
  }
}

.comment-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  h3 {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 4px 4px 20px #ffffff90;
  }
}

@media (max-width: 1040px) {
  .comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .comment-container {
    max-height: 70vh; // responsive height
    overflow-y: auto;
  }
}

@media (max-width: 764px) {
  .comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;

    .form-group {
      width: 100%;
    }
  }
  .comment-section {
    height: auto;
  }
  .comment-container {
    max-height: 60vh; // responsive height
    overflow-y: auto;
  }
}
