.comment-section {
  margin-top: 4rem;

  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 4px 4px 20px #fff;
  }
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;

  input {
    backdrop-filter: blur(5px);
    padding: 1rem;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: #fff;
    transition: all 0.5s ease-in-out;

    &::placeholder {
      color: #ffffff67;
    }

    &:hover {
      border: 3px solid rgb(209, 209, 212);
    }
  }

  button {
    backdrop-filter: blur(5px);

    background-color: rgba($color: #ffffff, $alpha: 0.1);
    color: #fff;
    font-size: 1.2rem;
    border: 1px solid transparent;
    padding: 0.5rem 1.2rem;
    font-family: 'quicksand', sans-serif;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      border: 1px solid rgb(209, 209, 212);
    }
  }
}

.comment-container {
  margin-top: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.05);

  padding: 1rem;
  border-radius: 4px;
  overflow-y: auto;
  max-height: 400px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment-container::-webkit-scrollbar {
  display: none;
}

.comment-card {
  background-color: rgba($color: #e6ebeb, $alpha: 0.1);
  backdrop-filter: blur(3px);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 4px 4px 20px #333;
  transition: all 0.6s ease-in-out;

  &:hover {
    transform: translateY(10px);
  }

  .img-card {
    padding: 0.5rem;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 20px #ffffff65;
  }

  img {
    width: 2.6rem;
    height: 2.6rem;
  }
}

.comment-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  h3 {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 4px 4px 20px #ffffff90;
  }
}

@media (max-width: 1040px) {
  .comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .comment-section {
    height: auto;
  }
  .comment-container {
    height: 400px;
  }
}

@media (max-width: 764px) {
  .comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .comment-section {
    height: auto;
  }
  .comment-container {
    height: 400px;
  }
}
