.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  gap: 3rem;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;

  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 4px 4px 20px #fff;
  }
}

.contact-btn {
  backdrop-filter: blur(5px);

  background-color: rgba($color: #ffffff, $alpha: 0.1);
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid transparent;
  padding: 0.5rem 2.2rem;
  font-family: 'quicksand', sans-serif;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    border: 1px solid #fff;

    box-shadow: 1px 1px 20px rgba($color: #ffffff74, $alpha: 0.5);
  }
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  .input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2rem;
  }

  input {
    font-family: inherit;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: #fff;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(5px);

    &::placeholder {
      color: #ffffff67;
    }

    &:focus {
      box-shadow: 1px 1px 20px rgba($color: #fff, $alpha: 0.5);
    }

    &:hover {
      border: 1px solid rgb(209, 209, 212);
      box-shadow: 1px 1px 20px rgba($color: #fff, $alpha: 0.5);
    }
  }

  textarea {
    font-family: inherit;
    backdrop-filter: blur(5px);

    padding: 1rem;
    border: 1px solid transparent;

    border-radius: 4px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    color: #fff;
    transition: all 0.5s ease-in-out;
    width: 100%;
    margin: 0 auto;
    min-height: 10rem;

    &::placeholder {
      color: #ffffff67;
    }

    &:hover {
      border: 1px solid rgb(209, 209, 212);
      box-shadow: 1px 1px 20px rgba($color: #fff, $alpha: 0.5);
    }
  }
}

@media (max-width: 700px) {
  .contact-form {
    .input-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}
