$light: 4px 4px 20px #fff;

.first-section {
  position: relative;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

// .home-container {
//   display: flex;
//   justify-content: center;
// }

.animated-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
  text-align: center;
  backdrop-filter: blur(3px);
  padding: 2em 4rem;

  h1 {
    font-size: 3.8rem;
    font-weight: 300;
    text-shadow: $light;
    line-height: 1.4;
    letter-spacing: 0.4rem;
  }

  h3 {
    font-weight: 400;
    text-shadow: $light;
    letter-spacing: 0.3rem;
  }

  span {
    color: #d6bb8a;
    text-shadow: none;
  }
}

.link-box {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  columns: #fff;

  a {
    border: 1px solid #8e8e8e;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;

    &:hover {
      border: 1px solid #fff;
    }
  }
}

@media (max-width: 768px) {
  .animated-text {
    padding: 2rem 1rem;

    span {
      font-size: 3.2rem;
    }
  }
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  span {
    font-size: 2rem;
  }
}
