@import './variables';

$light: 4px 4px 20px #fff;

.first-section {
  position: relative;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.animated-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
  text-align: center;

  padding: 2em 4rem;

  .welcome {
    letter-spacing: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    font-family: 'quicksand', sans-serif;
    font-size: clamp(3.5rem, 5vw, 5.8rem);
    font-weight: 300;
    text-shadow: $light;
    line-height: 1.4;
    letter-spacing: 1.2rem;
    text-transform: capitalize;
  }

  h3 {
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    font-weight: 400;
    text-shadow: $light;
  }

  span {
    color: #d6bb8a;
    text-shadow: none;
    font-size: 2.5rem;
  }

  .ocean {
    margin-block: 1rem;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
  }
}

.hero {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-box {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  columns: #fff;

  a {
    text-shadow: $light;

    background-color: rgba($color: #ffffff, $alpha: 0.05);
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease-in-out;
    width: 100%;
    border-radius: 4px;
    letter-spacing: 0.3rem;
    text-transform: capitalize;

    .icon {
      transition: all 0.4s;
      color: #d6bb8a;
    }

    display: flex;
    gap: 1rem;
    align-items: center;

    &:hover {
      border: 1px solid #fff;

      .icon {
        color: #ffffff;

        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .welcome {
    flex-direction: column;
  }
  .animated-text {
    padding: 2rem 1rem;

    span {
      font-size: 3.2rem;
    }
  }
  .home-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .welcome {
    flex-direction: column;
  }
  .home-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    h1 {
      letter-spacing: 0.3rem;
    }
  }
  .animated-text {
    padding: 2rem 1rem;

    span {
      font-size: 2rem;
    }
  }
}
