.footer {
  width: 100%;
  padding: 2rem 1rem;
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  text-align: center;
  z-index: 5;
  animation: fadeInUp 0.8s ease-out forwards;

  .info-container {
    p {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 0.95rem;
      color: #eaeaea;
      transition: color 0.3s;
      margin-top: 1rem;
    }

    p:hover {
      color: #d6bb8a;
    }
  }

  .social-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    a {
      color: #d6bb8a;
      font-size: 2.1rem;
      transition: all 0.3s ease;

      &:hover {
        color: #fff;
        transform: translateY(-4px);
        text-shadow: 0 0 10px #fff;
      }
    }
  }

  .image-box {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.4s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
      object-fit: cover;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Responsive --- */
@media (max-width: 700px) {
  .footer {
    padding: 1.5rem 0.5rem;
    gap: 1rem;

    .info-container p {
      font-size: 0.85rem;
    }

    .social-container a {
      font-size: 1.4rem;
    }
  }
}
