footer {
  border-top: 1px solid #fff;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
  }

  .info-container {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    opacity: 0.8;

    p {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }

  a {
    transition: all 0.8s;
    opacity: 0.6;
    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

.hover {
  position: fixed;
  flex-direction: column;
  top: 15rem;
  left: 1rem;
  z-index: 2;
}

@media (max-width: 700px) {
  .links-container.hover {
    position: absolute;
    flex-direction: row;
    top: 1%;
    left: 50%;
    right: 50%;
    font-size: 2.1rem;
    gap: 1.8rem;
  }
  .info-container {
    flex-direction: column;
  }
}
