footer {
  border-top: 1px solid #fff;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .info-container {
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    opacity: 0.8;
  }

  a {
    transition: all 0.8s;
    opacity: 0.5;
    &:hover {
      transform: scale(1.1);
      opacity: 0.6;
    }
  }
}

.hover {
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  z-index: 2;
  opacity: 0.6;
}

@media (max-width: 700px) {
  .links-container.hover {
    display: none;
  }
  .info-container {
    flex-direction: column;
  }
}
