.image-box {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  animation: imgshow 0.7s;
  box-shadow: 0 0.5rem 30rem #ffffff7a;
  animation: imgshow 1.7s forwards;
}
.my-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
}

@keyframes imgshow {
  0% {
    opacity: 0;
    transform: translateX(300px) scale(1.6);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
