.nav {
  padding: 0.5rem 2rem;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  z-index: 1;
  background-color: rgba($color: #333, $alpha: 0.8);
  ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    margin: 0 10px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.4s;

    &:hover {
      color: #d6bb8a;
    }

    .active {
      border-bottom: 2px solid #ffffff;
    }
  }
}

@media (max-width: 700px) {
  .nav {
    font-size: 0.8rem;
    background-color: rgba($color: #333, $alpha: 0.2);
  }
}
