.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 4px 4px 20px #fff;
  }

  h3 {
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 4px 4px 20px #fff;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }
}

.project-card-container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-bottom: 1rem;
  animation: apear both;
  transition: all 0.5s ease-in-out;
}

.project-card {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  &:hover {
    .overlay-content {
      opacity: 1;
      background-color: rgba($color: #a9a9a9, $alpha: 0.5);
    }
  }
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 1s ease-in-out;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.overlay-content {
  position: relative;
  z-index: 1;
  background-color: transparent;
  height: 100%;
  color: #fff;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transition: all 1s ease-in-out;

  a {
    padding: 1rem 1.8rem;
    background-color: rgba($color: #333, $alpha: 1);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #fff;
    }
  }
}

.project-text {
  align-content: center;
  background-color: rgba($color: #a8a2a2, $alpha: 0.5);
  line-height: 1.5;

  padding: 1rem;
}

.blur {
  animation-timeline: view();
  transition: all 0.25s ease-in-out;
}

.project-links-mobile {
  display: flex;
  gap: 1rem;

  a {
    padding: 0.4rem 1.1rem;
    background-color: rgba($color: #333, $alpha: 0.6);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #fff;

      box-shadow: 4px 4px 20px #5e5c5c;
    }
  }
}

@keyframes apear {
  0% {
    filter: blur(10px);
  }
  45%,
  55% {
    filter: blur(0px);
    transform: scale(1.05);
    box-shadow: 4px 4px 20px #5e5c5c;
  }
  100% {
    filter: blur(20px);
  }
}

@media (max-width: 700px) {
  .project-card-container {
    display: flex;
    flex-direction: column;
    animation: none;
  }

  .projects-container {
    gap: 0.5rem;
  }

  .overlay-content {
    display: none;
  }

  .project-card {
    &:hover {
      .bg-image {
        filter: none;
      }
    }
  }

  @keyframes apear {
    0% {
      filter: blur(10px);
    }
    45%,
    55% {
      filter: blur(0px);
    }
    100% {
      filter: blur(20px);
    }
  }
  .projects-section {
    h2 {
      font-size: 2rem;
    }
  }
}
