@use './image-box';
@use './first-section';
@use './nav';
@use './projects';
@use './comment-section';
@use './image-picker';
@use './user-msg';
@use './contact-me';
@use './footer';
@use './porject-details';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    -35deg,
    #000000,
    #0d2747,
    #146565,
    #012947,
    #732a3e
  );
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@keyframes galaxyFlow {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
}

a {
  all: unset;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .main-container {
    width: 85%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 85%;
    padding: 0;
  }
  body {
    background: linear-gradient(
      -55deg,
      #000000,
      #0d2747,
      #146565,
      #012947,
      #7d2340
    );
  }
}

@media (max-width: 480px) {
  .main-container {
    width: 85%;
    padding: 0;
  }
}
