@use './image-box';
@use './first-section';
@use './nav';
@use './projects';
@use './comment-section';
@use './image-picker';
@use './user-msg';
@use './contact-me';
@use './footer';
@use './porject-details';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right top, #223a40, #082831);
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

a {
  all: unset;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .main-container {
    width: 95%;
    padding: 0;
  }

  .particles {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 95%;
    padding: 0;
  }

  .particles {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-container {
    width: 95%;
    padding: 0;
  }

  .particles {
    display: none;
  }
}
