.nav {
  padding: 2rem 0;
  position: sticky;
  top: 0;
  width: 90%;
  margin: 0 auto;
  ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  li {
    &:hover {
      color: #d6bb8a;
    }
  }
}
